{% extends 'base.html' %}
    
{% block title %} todo_confirm_delete.html {% endblock  %}
{% block extra-style %}

    <style>
        .inputBox {
            background-color: white;
            display: flex;
            border-radius: 30px;
            justify-content: center;
            margin:auto;
            width: 80%;
            height: 50%;
        }

        .inputBox__name {
            border-style:none;
            border-bottom:1px solid #ddd;
            width: 40%;
            margin-left: 20px;
        }

        .inputBox__todo {
            border-style:none;
            border-bottom:1px solid #ddd;
            width: 60%;
            margin-left: 10px;
        }

        .inputBox__add {
            border-style:none;
            border-bottom:1px solid #ddd;
            margin-right : 20px;
            width: 200px;
        }

        .todoList {
            background-color: white;
        }

        .removeBtn {
            margin-left: auto;
            font-size: 20px;;
        }


        body {
            padding-top: 70px;
            background-color: skyblue;
            text-align: center;
        };
    </style>
{% endblock  %}
{% block content %}
    <div>
        <h2>TODO Delete</h2>
        <p>Are you sure to delete? {{ todo }}</p>
    </div>

    <form action="." method='post'> {% csrf_token %}
        <button type='submit' class="btn btn-danger btn-sm">
            Confirm
        </button>
    </form>
{% endblock  %}
